.quadrant {
  display: grid;
  grid-template-rows: [row-start] 50% [row-start] 50%;
  grid-template-columns: [column-start] 50% [column-start] 50%;
  
}

.empty-container {
  font-size: x-large;
  font-weight: 500;
  color: gray;
  @apply text-center bg-gray-300 p-2 content-center;
}

.quad-alt {
  font-family: 'Comfortaa', cursive;
}