@tailwind base;

html {
  font-size: 14px !important;
  @apply leading-normal;
}

html, body {
    max-width: 100%;
    overflow-x: hidden;
    font-family: 'Comfortaa', cursive;
}

@media (min-width: 420px) {
  html {font-size:16px !important;}
}

h1 {
  @apply text-2xl leading-relaxed;
}
h2 {
  @apply text-xl leading-relaxed;
}
h3 {
  @apply text-lg leading-relaxed;
}
a {
  @apply text-blue-600 underline;
}

@tailwind components;
@tailwind utilities;

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
   margin: 0;
}

input[type=number] {
  -moz-appearance:textfield;
}

.btn {
    @apply py-2 rounded font-semibold bg-gray-200 text-black;

  &:disabled {
    @apply bg-gray-300 border-gray-600 text-gray-600 cursor-default;
  }
}
